[workspace]
members = [
    "apis/bugview-api",
    "apis/jira-api",
    "openapi-manager",
]
resolver = "2"

[profile.release]
panic = "abort"

[workspace.dependencies]
dropshot = { version = "0.16.4", features = [ "usdt-probes" ] }
dropshot-api-manager = "0.2.3"
dropshot-api-manager-types = "0.2.3"
progenitor = "0.11.2"
progenitor-client = "0.11.2"
tokio = { version = "1.48", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
schemars = { version = "0.8", features = ["derive"] }
semver = "1.0"
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
openapiv3 = "2.0"
camino = "1.1"
