# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# Copyright 2026 Edgecast Cloud LLC.

[workspace]
members = [
    "apis/bugview-api",
    "apis/jira-api",
    "cli/bugview-cli",
    "clients/internal/bugview-client",
    "clients/internal/jira-client",
    "openapi-manager",
    "services/bugview-service",
    "services/jira-stub-server",

    # Modernized:
    "libs/fast",
    "libs/quickcheck-helpers",
    "libs/cueball",

    # To be modernized:
    #"cli/manatee-echo-resolver",
    #"libs/cueball-dns-resolver",
    #"libs/cueball-manatee-primary-resolver",
    #"libs/cueball-postgres-connection",
    #"libs/cueball-static-resolver",
    #"libs/cueball-tcp-stream-connection",
    #"libs/libmanta",
    #"libs/moray",
    #"libs/rebalancer-legacy/agent",
    #"libs/rebalancer-legacy/manager",
    #"libs/rebalancer-legacy/rebalancer",
    #"libs/rust-utils",
    #"libs/sharkspotter",
]
resolver = "2"

[workspace.package]
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"

[workspace.dependencies]
askama = "0.15"
anyhow = "1.0"
camino = "1.1"
cargo_toml = "0.22"
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
dropshot = { version = "0.16" }
dropshot-api-manager = "0.3"
dropshot-api-manager-types = "0.3"
openapiv3 = "2.0"
progenitor = "0.11"
progenitor-client = "0.11"
# reqwest needs to track wth progenitor-client
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
# NOTE: schemars version is tied to dropshot compatibility
# Dropshot 0.16.x requires schemars 0.8.x
# Do not upgrade to schemars 1.x without also upgrading dropshot
schemars = { version = "0.8", features = ["derive"] }
semver = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.48", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
