<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.

Copyright 2025 Edgecast Cloud LLC.
-->

<h1>Public Issues Index{% if let Some(label) = label_text %}: {{ label }}{% endif %}</h1>
  <p><b>Filter by label:</b> {{ label_links|safe }}</p>
  <div>{{ pagination|safe }}</div><br>
  <table class="table">
    <thead><tr>
      <th><b>Issue</b></th>
      <th><b>Status</b></th>
      <th><b>Resolution</b></th>
      <th><b>Synopsis</b></th>
    </tr></thead>
  <tbody>
{% for issue in issues %}
    <tr>
      <td><a href="/bugview/issue/{{ issue.key }}">{{ issue.key }}</a></td>
      <td>{{ issue.status }}</td>
      <td>{% if let Some(res) = issue.resolution %}{{ res }}{% else %}&nbsp;{% endif %}</td>
      <td>{{ issue.summary }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
