# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# Copyright 2020 Joyent, Inc.
# Copyright 2026 Edgecast Cloud LLC.

[package]
name = "rebalancer-manager"
version = "0.1.0"
edition.workspace = true
description = "Rebalancer manager service - orchestrates object evacuation jobs"

[lints]
workspace = true

[lib]
path = "src/lib.rs"

[[bin]]
name = "rebalancer-manager"
path = "src/main.rs"

[dependencies]
rebalancer-manager-api = { path = "../../apis/rebalancer-manager-api" }
rebalancer-types = { path = "../../apis/rebalancer-types" }

# Internal libraries
libmanta = { path = "../../libs/libmanta" }
moray = { path = "../../libs/moray" }
sharkspotter = { path = "../../libs/sharkspotter" }

anyhow = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
crossbeam-channel = "0.5"
deadpool-postgres = "0.14"
dropshot = { workspace = true }
lazy_static = "1"
prometheus = "0.13"
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
slog = "2.7"
slog-stdlog = "4.1"
thiserror = { workspace = true }
tokio = { workspace = true, features = ["sync", "time"] }
tokio-postgres = { version = "0.7", features = ["with-chrono-0_4", "with-serde_json-1", "with-uuid-1"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
chrono = { workspace = true }
libc = "0.2"
tempfile = "3"
wiremock = { workspace = true }
